<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="screen.css">
</head>

<body>
  <div class="container">
    <nav class="account text-right">
      <img id="smallLogo" src="wsid-sm.png">
      <a href="#" class="btn btn-sm btn-primary">Login</a>
      <a href="#" class="btn btn-sm btn-primary">Sign Up</a>
    </nav>
    <form id="main" v-cloak>
      <div class="bar">
        <input v-model="searchString" class="siteSearch form-control" type="text" placeholder="Search . . .">
      </div>
      <ul>
        <li class="resultLayout" v-for="article in filteredArticles">
          <a class="resultImg" v-bind:href="article.url"><img v-bind:src="article.image" /></a>
          <p class="rating" v-html="article.rating"></p>
          <p class="dollarSign">{{article.dollar}}</p>
          <p class="title">{{article.title}}</p>
        </li>
      </ul>
    </form>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="site.js" type="text/javascript"></script>

</body>

</html> -->
